<DOCTYPE html>

    <html>

    <head>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/Images/Logo.jpg" type="image/x-icon">


        <!--==Title==================================-->
        <title>

            Smart Agriculture

        </title>

        <!--==Stylesheet=============================-->
        <link rel="stylesheet" type="text/css" href="/CSS/Home Page CSS.css">

        <!-- bootstrap css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <!-- bootstrap icons  -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <!--==Fav-icon===============================-->
        <link rel="shortcut icon" href="images/fav-icon.png" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!--==Using-Font-Awesome=====================-->
        <script src="https://kit.fontawesome.com/5471644867.js" crossorigin="anonymous"></script>

        <script src='/script/Home Page JS.js' defer></script>
        <link rel="stylesheet" href="/CSS/index.css">
        <!-- <link rel="shortcut icon" type="image/jpg" href="C:\Users\hp\Desktop\College\First Semester\Introduction To Web Technologies\Notepad ++ Files\Project\favicon.ico"/> -->
        <style>
            .counter {
                display: inline-block;
            }

            .btn-secondary {
                background-color: #6c757d;
                color: #fff;
            }
        </style>
    </head>

    <body style="background-color: #87e390;">


        {{>navbar opt1=opt1 opt2=opt2 opt2=opt3 opt4=opt4 link=link}}

        <div class="search-bar d-block d-md-none">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form class="form-inline mb-3 mx-auto">
                            <input class="form-control" type="search" placeholder="Search for products..."
                                aria-label="Search">
                            <button class="btn btn-success" type="submit"><i class="bx bx-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->





        <!--nav-end-->
        <!--==Search-banner=======================================-->
        <section id="search-banner">

            <!--bg-------->


            <!--text---->
            <div class="search-banner-text">

                <h1>

                    Order Your daily Groceries

                </h1>

                <strong>

                    #Free Delivery

                </strong>

                <!--search-box------>
                <form action="" class="search-box">

                    <!--icon------>
                    <i class="fas fa-search"></i>

                    <!--input----->
                    <input type="text" class="search-input" placeholder="Search" name="search" size="80px" required>

                    <!--btn------->
                    <input type="submit" class="search-btn" value="Search">

                </form>



                </h3>

            </div>
            <!--search-banner-end--------------->
        </section>

        <section id="about-us" class="shadow-lg"
            style="background-color:#ecf7ee;max-width:1250px;border-radius:30px;margin:10px auto">
            <div class="container shadow-lg" style="background-color: none; border-radius:30px">
                <h2 class="pt-5 pb-2">Welcome to Smart Agriculture – Your Source for the Finest Fruits and Vegetables!
                </h2>

                <p class="pb-5">At Smart Agriculture , we are committed to providing you with the freshest,
                    healthiest, and most
                    delicious fruits and vegetables available in the United States. Our mission is simple: to bring the
                    farm-fresh goodness directly to your doorstep, making it easier than ever to enjoy a wide variety of
                    top-quality produce without leaving the comfort of your home.

                    With a dedication to sustainability, taste, and nutrition, we work closely with local and regional
                    growers to ensure you receive the very best in-season produce. Whether you're a health-conscious
                    individual, a culinary enthusiast, or a family looking for wholesome options, we've got a wide
                    selection
                    of fruits and vegetables to meet your needs.

                    Explore our website, shop with confidence, and experience the convenience of having nature's bounty
                    delivered right to your door. Smart Agriculture is your one-stop destination for a healthier,
                    happier
                    lifestyle. Start savoring the flavors of fresh, organic, and locally sourced produce today!</p>
                <h1>Why Choose Smart Agriculture?</h1>
                <ul>
                    <li><strong>Farm-Fresh Quality:</strong> We partner with trusted farmers who prioritize quality and
                        sustainability, ensuring you get the best fruits and vegetables available.</li>
                    <li><strong>Wide Variety:</strong> From crisp apples and juicy berries to leafy greens and vibrant
                        peppers, we offer a diverse range of produce to suit every taste and recipe.</li>
                    <li><strong>Convenience Redefined:</strong> Say goodbye to long grocery lines and heavy bags. We
                        deliver directly to your doorstep, saving you time and effort.</li>
                    <li><strong>Health at Your Fingertips:</strong> Our fresh produce is not only delicious but also
                        packed with essential nutrients, promoting your well-being.</li>
                    <li><strong>Supporting Local Agriculture:</strong> By choosing Fresh Harvest USA, you support local
                        farmers and contribute to a more sustainable food system.</li>
                </ul>
                <p class="pb-3">Join the Smart Agriculture community and savor the difference that fresh, high-quality
                    fruits and
                    vegetables can make in your life. Your journey to healthier, tastier living starts right here with
                    us!</p>

            </div>
        </section>

        <!--==category=========================================-->

        <!--category-end-->
        <!--==Products====================================-->
        <section id="fruits" style="background-color: ecf7ee; max-width:1250px">
            <div class="container">
                <!-- Heading -->
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Fruits</h3>
                    </div>
                </div>

                <!-- Product Containers for Fruits -->
                <div class="row justify-content-center" id="fruitsCardContainer">
                </div>
            </div>
        </section>

        <section id="vegetables" style="display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1150px;
    margin: 50px auto;
    padding: 60px 0px 20px 0px;
    border-radius: 20px;
    background-color: #ecf7ee;
    border: 1px solid #f3f3f3;
    align-items: center;" >
            <div class="container">
                <!-- Heading -->
                <div class="row">
                    <div class="col-12 text-center">
                        <h3>Vegetables</h3>
                    </div>
                </div>

                <!-- Product Containers for Vegetables -->
                <div class="row justify-content-center" id="vegetablesCardContainer">
                </div>
            </div>
        </section>


        <!--popular-bundle-pack-end-->



        <!--logo-section-end--->
        <!--==download-app====================================-->

        <!--download-app-section-end--->
        <!--==Footer=============================================-->
        <footer>
            <div class="footer-container" id="contact">
                <!--logo-container-->
                <div class="footer-logo">
                    <a href="/Images/Logo.jpg"><span>Smart</span>Agriculture</a>
                    <!--social----->
                    <div class="footer-social">
                        <a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
                        <a href="https://twitter.com/?lang=en-in"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                        <a href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
                <!--links------------------------->
                <div class="footer-links">
                    <strong>Product</strong>
                    <ul>
                        <li><a href="#">Fruits</a></li>
                        <li><a href="#">vegetables</a></li>

                    </ul>
                </div>
                <!--links------------------------->

                <!--links-------------------------->
                <div class="footer-links">
                    <strong>Contact</strong>
                    <ul>
                        <li><a href="#">Phone : +1 NXX NXX-XXXX</a></li>
                        <li><a href="#">Email : xyz@gmail.com</a></li>

                        </li>
                    </ul>
                    <br>
                    <p style="color: aliceblue;">Copyright ©2023 | All Rights Reserved</p>
                </div>
            </div>
        </footer>
    </body>

    </html>