<nav class="navbar navbar-expand-md navbar-light shadow-lg bg-light sub-menu" style="align-items: flex-start;">
   <div class="container">
    <div class="d-flex">
        <a href="/home"><img src="/Images/Logo.jpg" class="m-0 p-0 ml-0" alt="Smart Agriculture Logo" style="width: 200px; height: 120px;"></a>
        <a href="/home"><h1 style="color: black; margin-top:35px">Smart <span style="color:green"> Agriculture </span></h1></a>
    </div>
</div>

    <div class="container " class="mb-0 pb-0" style="margin-top: 30px;margin-right: 250px">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home"><i class="bi bi-house"></i>Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#fruits"><i class="bi bi-backpack3"></i>Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact"><i class="bi bi-telephone-fill"></i>Contact</a>
                </li>
                {{#if isLoggedIn}}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-person"></i> Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="/dashboard">Dashboard</a>
                        <a class="dropdown-item" href="/cart">My Cart</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
            {{else}}
            <a class="btn btn-primary" href="/register"><i class="bi bi-box-arrow-in-right"></i> Login / <i
                    class="bi bi-door-open-fill"></i>Register</a>
            {{/if}}
        </div>
    </div>
    </div>
</nav>