        <nav class="navbar navbar-expand-md navbar-light bg-light sub-menu">
            <div class="container">
                <a href="/"><img src="/Images/Logo.jpg" class="m-0 p-0 ml-0" alt="" style="width: 250px; height: 150px;"></a>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/"><i class="bi bi-house"></i>Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#fruits"><i class="bi bi-backpack3"></i>Products</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/checkout"><i class="bi bi-cart-fill"></i>Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about-us"><i class="bi bi-info-square-fill pe-2"></i>About Us</a>
                        </li>
                        
                        

                        <li class="nav-item">
                            <a class="nav-link" href="#contact"><i class="bi bi-telephone-fill"></i>Contact</a>
                        </li>

                        

                    </ul>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    </div>
                    </li>

                   
                    <a class="btn btn-primary" href="/register"><i class="bi bi-box-arrow-in-right"></i> {{opt1}} /
                        <i class="bi bi-door-open-fill"></i>{{opt2}}</a>
                    
                    </ul>
                </div>
            </div>
        </nav>